// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html, body {
    height: 100%;
}

.badge {
    font-size: 95%;
    padding: 0.5em 0.75em;

    &.tag-input {
        font-size: 1rem;
        svg:hover {
            cursor: pointer;
        }
    }
}

